@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-noto-sans-jp: var(--font-noto-sans-jp);
  --font-poppins: var(--font-poppins);
}

html {
  font-size: 16px;
  scroll-padding-top: 5rem;
}
@media (width >= 40rem) {
  html {
    font-size: 18px;
    scroll-padding-top: 3rem;
  }
}

body {
  background: #1388b9;
  color: #333333;
  font-family: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
}

body::before {
  background-color: #333333;
}

/** 記事コンテンツのスタイル **/

/* 段落系の要素 */

/* Mermaid 全体 */
.mermaid {
  color: #1388b9;
}

/* ノード（四角・丸など） */
.mermaid rect,
.mermaid .node polygon,
.mermaid ellipse,
.mermaid .node circle,
.mermaid .basic path {
  fill: transparent !important;
  stroke: #1388b9 !important;
  stroke-width: 3px !important;
  rx: 16px;
  ry: 16px;
  border-radius: 16px;
}


/* テキスト */
.mermaid text {
  fill: #1388b9 !important;
  font-weight: 500;
}

/* エッジ（矢印・線） */
.mermaid .edgePaths>path {
  stroke: #1388b9 !important;
  stroke-width: 3px !important;
}

/* 矢印 */
.mermaid marker path {
  fill: #1388b9 !important;
}

.mermaid p {
  line-height: 1.25rem;
}

.mermaid .edgeLabel, .mermaid .edgeLabel p, .mermaid .labelBkg {
  background-color: #fdf6eeff !important;
}